<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Audio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <audio src="../../assets/beth.mp3" controls></audio>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <audio id="audioPlayer" controls>
            <source src="../../assets/beth.mp3" type="audio/mpeg">
          </audio>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="som()">Play</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="parar()">Pause</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button expand="full" (click)="startRecording()">Iniciar Gravação</ion-button>
    <ion-button expand="full" (click)="stopRecording()">Parar Gravação</ion-button>
  </div>
</ion-content>